[Unit]
Description=Chunkly Server service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/etc/chunkly-server/bin/chunkly-server

[Install]
WantedBy=multi-user.target